@{
	ViewData["Title"] = "Home Page";
}
<!--https://codepen.io/eddch/pen/ZMOjPL-->
<div class="text-center">
	<h1 class="display-4">Âm thanh của bạn</h1>
</div>

<div class="app">
	<select name="" id="micSelect"></select>

	<select id="visSelect">
		<option value="frequencybars">Bar</option>
		<option value="sinewave">Wave</option>
		<option value="circle">Circle</option>
	</select>

	<a id="download">Download</a>

	<div class="audio-controls">
		<button id="record">Record</button>
		<button id="stop">Stop</button>
		<audio id="audio" controls></audio>
	</div>

	<div id="msg">Recording...</div>
	<canvas width="500" height="300"></canvas>
</div>

@section Scripts{
	<script src="~/js/site2.js" asp-append-version="true"></script>
}