@{
	ViewData["Title"] = "Recorder.js";
}

<div class="text-center">
	<h1 class="display-4">Âm thanh của bạn từ Recorder.js</h1>
</div>

<p>Make sure you are using a recent version of Google Chrome.</p>
<p>Also before you enable microphone input either plug in headphones or turn the volume down if you want to avoid ear splitting feedback!</p>

<div class="row">
	<div class="col-sm">
		<div class="text-center">
			<p><strong>audio 1</strong></p>
			<button onclick="startRecording(this, 1);" class="btn btn-primary">Record</button>
			<button onclick="stopRecording(this, 1);" class="btn btn-secondary" disabled>Stop</button>
			<button onclick="deleteAll(1);" class="btn btn-danger">Delete all</button>
			<input type="file" accept="audio/*" capture id="btnAddFile1" class="btn btn-light" placeholder="tập tin âm thanh" />
		</div>

		<h4>Recordings</h4>
		<ol id="recordingslist1"></ol>

		<h4>Log</h4>
		<pre id="log1"></pre>
	</div>
	<div class="col-sm">
		<div class="text-center">
			<p><strong>audio 2</strong></p>
			<button onclick="startRecording(this, 2);" class="btn btn-primary">Record</button>
			<button onclick="stopRecording(this, 2);" class="btn btn-secondary" disabled>Stop</button>
			<button onclick="deleteAll(2);" class="btn btn-danger">Delete all</button>
			<input type="file" accept="audio/*" capture id="btnAddFile2" class="btn btn-light" placeholder="tập tin âm thanh" />
		</div>

		<h4>Recordings</h4>
		<ol id="recordingslist2"></ol>

		<h4>Log</h4>
		<pre id="log2"></pre>
	</div>
</div>

@section Scripts{
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/recorder.js" asp-append-version="true"></script>
}